<div class="result_box">
	<h1>Try Ordering from: </h1>
		<h3> <u><%="#{@random_choice['name']}"%></u> is located at:</h3>
			<%= "#{@random_choice['location']['address1']}" %><br/>
			<%= "#{@random_choice['location']['city']}" %>
			<%= "#{@random_choice['location']['zip_code']}" %>
			<% if @random_choice['image_url'].present? %>
				<img src=<%= "#{@random_choice['image_url']}"%> class="randomChoicepic">
			<% end %>
		<p> Go ahead, give them a ring at <%= "#{@random_choice['display_phone']}"%></p>
		<h3> Be Bold !</h3>
		<h4> Check out what people are saying <%= link_to "here", "#{@random_choice['url']}", target: '_blank' %></h4>
</div>
<div class="clear"/></div>
<div class="btn btn-success">
	<%= link_to "Give it Another Spin",  root_path %>
</div>