<%= simple_form_for @order, url: create_delivery_path do |f| %>
   	<%= f.input :address1, placeholder: 'Enter Your Address' %>
		<%= f.input :city, placeholder: 'Enter Your City' %>
		<%= f.input :state, placeholder: 'Enter your state' %>
  <div class="modal-footer">
    <%= f.submit 'Let\'s see who\'s delivering' %>
  </div>
<% end %>