<%= simple_form_for Order.new do |f| %>
  <div class="modal-body">
    <%= f.input :address1, label: 'Wheres about do you live?' %>
    <%= f.input :address2 %>
    <%= f.input :city %>
    <%= f.input :state %>
    <%= f.input :how_many_to_feed %>
    <%= f.input :vegeterian %>
    <%= f.input :max_amount, label: "What's your max spending amount?" %>
  </div>
<% end %>
